@model List<MensajesRelevantesSA.Models.MessageModel>

@using System.Collections.Generic;
@using System.Web;

<style>
    ul {
        padding: 0;
        list-style-type: none;
    }

    li {
        list-style-type: none;
    }

    ul li {
        font-size: large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 5px;
        padding: 0px;
    }

        ul li a {
            color: black;
            display: block;
            height: 100%;
            width: 100%;
            padding: 20px;
        }

    .emisor {
        text-align: right;
        padding-right: 10px;
        padding-top: 10px;
        background: #fa4252;
        color: #ffffff;
    }

</style>
<h6>
    <ul>
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    var emitterReceptor = item.SenderReceptor.Split('|');
                    var fileArray = new string[1];
                    if (item.UploadedFile != "")
                    {
                        fileArray = item.UploadedFile.Split('|');
                    }
                    else
                    {
                        fileArray[0] = "no hay archivo";
                    }
                        <li class="emisor">
                            Emisor: @emitterReceptor[0] <br />
                            Receptor: @emitterReceptor[1]<br />
                            @if (fileArray[0] != "no hay archivo")
                            {
                                @Html.ActionLink((string)fileArray[0], "GetFile", "Chats", new { senderReceptor = item.SenderReceptor, sentDate = item.SentDate }, null)
                            }
                            @item.Message<br />
                             @item.SentDate
                        </li>
                }
            
            }
            else
            {
                <li>Busque un chat</li>

            }
        }
    </ul>
</h6>
